:root {
    --primary-bg-color: #f8f8f8;
    --primary-color: #becbd9;
    --accent-color: #203245;
    --header-date-color: #9aa8b7;

    --user-header-bg-color: #f0cbb3;
    --user-header-text-color: #703a18;
    --user-header-date-color: #bba08e;

    --shadow-color: rgba(0, 0, 0, 0.2);
    --padding: 10px;
    --message-box-radius: 5px;

    --input-section-accent: #428bca;
}

.chat {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #d7dfe7;
    max-height: 100vh;
}

.chat-window {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-height: 90%;
    height: 100%;
    padding: 15px;
    gap: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.input-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 15px 10px;
    height: 10%;
}

.input-section input {
    width: 100%;
    height: 100%;
    padding: var(--padding);
    background-color: var(--primary-bg-color);
    border-radius: 5px;
    border: none;
}

.input-section input:focus{
    outline: 2px solid var(--input-section-accent);
}

.input-section button{
    display: block;
    height: 100%;
    background-color: var(--input-section-accent);
    border: none;
    color: var(--primary-bg-color);
    padding: var(--padding);
    text-wrap: nowrap;
    border-radius: var(--message-box-radius);
}

.message {
    font-size: small;
    position: relative;
    width: 65%;
    min-height: 55px;
    border-radius: var(--message-box-radius);
    background: var(--primary-bg-color);
    box-shadow: 0 5px 5px var(--shadow-color);
    word-break: break-word;
}

.message .header {
    display: flex;
    padding: var(--padding);
    background: var(--primary-color);
    color: var(--accent-color);
    flex-direction: row;
    justify-content: space-between;
    border-radius: var(--message-box-radius) var(--message-box-radius) 0 0;
}

.message .header .date {
    color: var(--header-date-color);
}

.message .content {
    padding: var(--padding);
}

.message::before {
    content: '';
    position: absolute;
    bottom: 4px;
    left: -20px;
    /*transform: translateY(-50%);*/
    border-left: 10px solid transparent;
    border-right: 10px solid var(--primary-bg-color);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.user-message {
    align-self: flex-end;
}

.user-message .header {
    background: var(--user-header-bg-color);
    color: var(--user-header-text-color);
}

.user-message .header .date {
    color: var(--user-header-date-color);
}

.user-message::before {
    left: auto;
    right: -20px;
    border-left: 10px solid var(--primary-bg-color);
    border-right: 10px solid transparent;
}
