
aside{
    background: #fff;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}

aside .tabs{
    display: flex;
    li {
        display: flex;
        width: 100%;
        padding: var(--padding);
        justify-content: center;
        align-items: center;
        background: #f8f8f8;
        transition: .3s all ease-in-out;
        border-style: solid;
        border-color: #dddddd;
        border-width: 1px 1px 1px 1px;
        cursor: pointer;
    }
    li.selected, li:hover{
        background: #fff;
        border-color: #fff;
        border-width: 1px 1px 1px 0;
    }
}

aside .chats{
    display: flex;
    flex-direction: column;
    gap: 0 5px;
    height: 100%;
    overflow-y: auto;
    li{
        display: flex;
        gap: 5px;
        padding: 15px;
        transition: .3s;
    }
    li:has(> a:hover), li.selected{
        background: var(--primary-bg-color);
    }
}
