
aside{
    background: #fff;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}

aside .tabs{
    display: flex;
    li {
        display: flex;
        width: 100%;
        padding: var(--padding);
        justify-content: center;
        align-items: center;
        background: #f8f8f8;
        border: 1px solid #dddddd;
    }
    li.selected{
        background: #fff;
        border: none;
    }
}

aside .chats{
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 100%;
    overflow-y: auto;
    li{
        display: flex;
        gap: 5px;
        padding: 15px;
    }
}
