.chat-card{
    display: flex;
    justify-content: center;
    cursor: pointer;
    @media (max-width: 500px) {
        flex-direction: column;
        .last-message{
            display: none;
        }
    }
}


.chat-card img{
    width: 70px;
    position: relative;
}
.chat-card .info{
    padding: 5px;
    .last-message{
        color: var(--primary-color);
        font-size: small;
    }
}

.avatar-wrapper{
    position: relative;
    height: fit-content;
    max-width: fit-content;
}
.avatar-wrapper::before{
    content: "";
    background: #8b8f8f;
    width: 15px;
    height: 15px;
    top: 100%;
    left: 100%;
    transform: translateX(-100%) translateY(-100%);
    position: absolute;
    border-radius: 50%;
    z-index: 1;
}
.avatar-wrapper.online::before{
    background: #20d63e;
}

.search-input{
    padding: 15px var(--padding);
    input{
        width: 100%;
        box-shadow: 0 0 3px inset rgba(0, 0, 0, 0.28);
        padding: var(--padding);
        border-radius: 5px;
        border: none;
    }
}