.chat {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #d7dfe7;
    max-height: 100vh;
}

.chat-header{
    display: flex;
    background: var(--primary-color);
    .chatter-info{
        padding: var(--padding) ;
    }
    img{
        width: 125px;
    }
}

.chat-window {
    display: flex;
    background: var(--primary-bg-color);
    flex-direction: column;
    max-height: 90%;
    height: 100%;
    padding: 15px;
    gap: 20px;
    overflow-y: auto;
    width: 100%;
    overflow-x: hidden;
}


.chat-window::-webkit-scrollbar {
    width: 8px;
    border-radius: 5px;
    background-color: #aaa;
}

.chat-window::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: var(--primary-color);
}

.chat-window::-webkit-scrollbar-thumb {
    background: var(--header-date-color);
    border-radius: 5px;
}

.message-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.loading-chats{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--primary-bg-color);
}
